@use "utils/breakpoints" as b;

:root :where(.is-layout-flow) > *:empty {
	margin-top: 0;
}

.wp-site-blocks main {
	margin: 0;
}

.wp-block-cover.scg-featured {

	.wp-block-post-excerpt__more-text {
		display: none;
	}
}

.scg-site-header {

	&.block-editor-block-list__block {
		position: fixed;
	}
}


.wp-block-list {

	&.is-style-inside {

		.wp-block-list-item > * {
			display: inline;
		}
	}
}

// Plugins.
.wp-block-trp-language-switcher {

	.trp-shortcode-switcher__wrapper {
		border: 0;
	}

	.trp-current-language-item__wrapper {
		display: flex;
		align-items: center;
	}

	.trp-language-item {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 7px 16px;
		text-decoration: none;
		min-height: 19px;
		box-sizing: content-box;
		visibility: visible;
	}

	.trp-language-item-name {
		color: var(--text);
	}

	.trp-language-switcher.trp-shortcode-anchor .trp-shortcode-arrow {
		display: block;
		visibility: visible;
	}

	@include b.show-desktop-menu {

		.trp-shortcode-overlay {
			display: none;
		}
	}

	@include b.show-mobile-menu {

		.trp-shortcode-arrow {
			display: none;
		}

		.trp-shortcode-anchor {
			display: none;
		}

		.trp-shortcode-overlay {
			display: flex;
		}

		.trp-switcher-dropdown-list {
			display: block;
		}
	}
}
